<div class="f-page f-cover">
  <div class="cover-elements">
    <div class="logo">
      Pageflip
      <a class="f-ref" href="http://www.flickr.com/photos/nasahqphoto/">Images by NASA HQ Photo</a>
    </div>
    <h1>Spacy Flipping Pages with CSS3 &amp; jQuery <span>Inspired by <a href="http://flipboard.com/">Flipboard</a></span></h1>
    <div class="f-cover-story"><span>Cover Story</span><%= pages[0][1].title %></div>
  </div>
  <div class="f-cover-flip">&lt; Flip</div>
</div>