/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/
//= require bootstrap.min
//= require admin/styles

.profile-view-table {
  position: relative;
}

.profile-view-table img {
  border: 2px solid #F3F3F3;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #CCC;
  position: absolute;
  right: 10px;
  top: 10px;
}